.env
.venv/**
.vscode/**
logs/**
material/**
runs/**
scripts/__pycache__/**
configs/**
tags*
test.*
costs.numbers
archive/**
templates/latex.pdf
**/__pycache__/**
**/*untracked*.*
**/*scratch*.*
.python_packages
